<link rel="stylesheet" href="/css/header.css">
<title>Painel do admin</title>

    <%- include('../partials/header') %>

    <div>
        <h1>Ola, Fulano, seja Bem-vindo!</h1>
        <div>
            <div>
                <h2>O que gostaria de fazer?</h2>
                <button>Adicionar Novo Produto</button>
                <button>Editar Produto</button>
                <button>Remover Produto</button>
            </div>
            <div>
                <h1>Grafico pizza</h1>
            </div>
            <div>
                <h1>Produtos mais vendidos</h1>
            </div>
        </div>
    </div>
</body>

</html>