<link rel="stylesheet" href="css/footer.css">

<footer>
    <div class="container-footer">
        <div class="row">
            <div class="footer-col">
                <h4>Conheça-nos</h4>
                <ul>
                    <li><a href="#">Informações corporativas</a></li>
                    <li><a href="#">Comunicação</a></li>
                    <li><a href="#">Acessibilidade</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Pagamentos</h4>
                <ul>
                    <li><a href="#">Cartão de credito</a></li>
                    <li><a href="#">Cartão de debito</a></li>
                    <li><a href="#">Pix</a></li>
                </ul>
            </div>
            <div class="media-social">
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
