<!DOCTYPE html>
<html lang="pt-br">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerLogado.css">
    <link rel="shortcut icon" href="/images/logo-header.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/86e4e92605.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

</head>

<body>
    <header>
        <div class="icon">
            <a href="/" title="logo"><img src="/images/logo.svg" alt=""></a>
        </div>

        <div class="search">
            <form action="" class="form_search">
                <input type="search" name="search" id="search" placeholder="Pesquisar">
                <button name="btn-1" id="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
        </div>
        </form>

        <div class="cart-user">
            <div class="cart">

                <!-- INCLUIR LOGICA DE QUANTIDADE DE ITENS COMO SPAN QUANDO TIVER ITENS NO CARRINHO -->                                      
                <a href="/carrinho"><i class="fa-solid fa-cart-shopping"></i></a>
                <span>Meu Carrinho de Muambas</span>
            </div>
           
            <% if (locals.usuario && usuario) { %>
                <div class="user">
                    <a href="/carrinho"><i style="color: #2D2D2D;" class="bi bi-person-circle"></i></a>
                    <span style="color: #2D2D2D;">Olá, <%= locals.usuario.nome %></span>
                    <div class="user-options">
                        <ul>
                            <li><a style="color: #2D2D2D;" href="/usuario">Minha Conta</a></li>
                            <li>|</li>
                            <li><a style="color: #2D2D2D;" href="/logout">Sair</a></li>
                        </ul>
                    </div>
                </div>
            <% } else { %>
                    <div class="user">
                        <a href="/login" title="login"><i style="color: #2D2D2D;" class="bi bi-person-circle"></i></a>
                        <span style="color: #2D2D2D;">Faça seu<br> login</span>
                    </div>
             <% } %>

    </header>
    <nav>
        <ul>
            <li><a href="">Todos</a></li>
            <li><a href="">Promoções</a></li>
            <li><a href="">Para você</a></li>
            <li><a href="">Computadores</a></li>
            <li><a href="">Celulares/Tablets</a></li>
            <li><a href="">Televisores</a></li>
            <li><a href="">Acessórios</a></li>
        </ul>
    </nav>
</body>

</html>