<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="shortcut icon" href="/images/logo-header.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/86e4e92605.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="icon">
            <a href="/" title="logo"><img src="/images/logo.svg" alt=""></a>
        </div>

        <div class="search">
            <form action="" class="form_search">
                <input type="search" name="search" id="search" placeholder="Pesquisar">
                <button name="btn-1" id="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
        </div>
        </form>

        <div class="cart-user">

            <div class="cart">
                <!-- INCLUIR LOGICA DE QUANTIDADE DE ITENS COMO SPAN QUANDO TIVER ITENS NO CARRINHO -->
                <button class="btn-carrinho"><i class="fa-solid fa-cart-shopping"></i></button>
                <span>Meu Carrinho de Muambas</span>
            </div>

            <div class="user">
                <!-- INCLUIR LOGICA DE TROCA PARA NOME DE USER QUANDO LOGADO -->
                <button class="btn-login"><a href="/login"><i class="fa-solid fa-circle-user"></i></a></button>
                <span>Login</span>
            </div>
        </div>

    </header>
    <nav>
        <ul>
            <li><a href="">Todos</a></li>
            <li><a href="">Promoções</a></li>
            <li><a href="">Para você</a></li>
            <li><a href="">Computadores</a></li>
            <li><a href="">Celulares/Tablets</a></li>
            <li><a href="">Televisores</a></li>
            <li><a href="">Acessórios</a></li>
        </ul>
    </nav>
