<link rel="stylesheet" href="/css/addEditProduto.css">
<title>Cadastrar novo produto</title>
<%- include('../partials/header') %> 

<body>
  <section>
    <div class="container">
      <h1>Cadastrar novo produto</h1>
      <div class="cadastro">
      <form action="/adm/adicionar-produto" method="POST" enctype="multipart/form-data">
        <input type="text" name="nome" id="" placeholder="Nome do Produto">
          <input type="number" name="preco" min="1" step="5.2" placeholder="Preço">
          <input type="number" name="desconto" min="1" step="any" placeholder="Preço com desconto">
          <input type="number" name="estoque" min="1" step="any" placeholder="Estoque">
          <select name="categoria" id="categoria" placeholder="Categorias">
            <option value="" disabled>Selecione uma categoria</option>
            <% categorias.forEach(categoria => { %>
              <option value="<%= categoria.id %>"><%= categoria.name %></option>
            <% }) %>
          </select>
        <label for="imagem">Adicionar foto</label>
        <input type="file" name="imagem" id="imagem">
        <div class="ativo">
        <input type="checkbox" name="ativo" id="ativo" placeholder="Produto ativo">
        <label for="">Ativo</label>
      </div>
        <textarea name="descricao" cols="30" rows="10" placeholder="Descrição do Produto"></textarea>
        <div class="buttons">
          <button type="submit">Cadastrar</button>
          
        </div>
        
      </div>
      </form>
        
    
    
    </div>
  </section>

</body>

</html>

