<link rel="stylesheet" href="/css/deleteProduto.css">
<title>Tem certeza disso?</title>
<%- include('../partials/headerLogado') %> 

<body>
  <section>
    <div class="container">
      <h1>Tem certeza que deseja deletar o produto selecionado?</h1>
      <div class="buttons">
        <a href="#" class="submit-button button1"  type="submit">Sim</a>
        <a href="/adm/paineladmin" class="submit-button button2" type="submit">Não</a>
        
      </div>

    </div>
        
    </div>


  </section>

</body>

</html>

