<link rel="stylesheet" href="/css/deleteProduto.css">
<title>Tem certeza disso?</title>
<%- include('../partials/header') %> 

<body>
  <section>
    <div class="container">
      <h1>Tem certeza que deseja deletar o produto selecionado?</h1>
      <div class="buttons">
        <form action="/adm/deletar-produto/<%= produtos.id %>?_method=DELETE" method="POST">
        <button class="submit-button button1" type="submit">Sim</button>
        </form>
        <a href="/adm/paineladmin" class="submit-button button2" type="submit">Não</a>
        
      </div>

    </div>
        
    </div>


  </section>

</body>

</html>

