<link rel="stylesheet" href="/css/categorias.css">
<title>Categorias</title>
<%- include('../partials/header') %>
    <main>
        <h1>Resultado</h1>
        <section class="categorias">

            
                <div class="card">
                    <a class="" href="/categoria/<%=categoria.id %>"> </a>
                    <img src="images/headsets.jpg" width="150" height="130" alt="">

                    <p>Headset<br>

                    </p>

                </div>
            

            <div class="card">
                <img src="images/teclados.jpg" width="150" height="130" alt="">

                <p> Teclados <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/notebooks.jpg" width="150" height="130" alt="">

                <p> Notebooks <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/celulares.jpg" width="150" height="130" alt="">

                <p> Telefones <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/video games.jpg" width="150" height="130" alt="">

                <p> Video-Games <br>
                </p>

            </div>
        </section>

    </main>
    <%- include('../partials/footer') %>
    </body>

    </html>