<link rel="stylesheet" href="css/categorias.css">
<title>Categorias</title>
<%- include('../partials/header') %>
    <main>
        <h1>Resultado</h1>
        <section class="categorias">

            
                <div class="card">
                    <img src="images/tv.jpg" width="150" height="130" alt="">

                    <p>Televisores<br>

                    </p>

                </div>
            

            <div class="card">
                <img src="images/microfone.jpg" width="150" height="130" alt="">

                <p> Acessórios <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/CADEIRAS.png" width="150" height="130" alt="">

                <p> Cadeiras Gamer <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/CONECTIVIDADE.png" width="150" height="130" alt="">

                <p> Conectividades <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/COMPUTADORES.png" width="150" height="130" alt="">

                <p> Computadores <br>
                </p>

            </div>
            


            
                <div class="card">
                    <img src="images/tv.jpg" width="150" height="130" alt="">

                    <p>Televisores<br>

                    </p>

                </div>
            

            <div class="card">
                <img src="images/microfone.jpg" width="150" height="130" alt="">

                <p> Acessórios <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/CADEIRAS.png" width="150" height="130" alt="">

                <p> Cadeiras Gamer <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/CONECTIVIDADE.png" width="150" height="130" alt="">

                <p> Conectividades <br>
                </p>

            </div>
            

            <div class="card">
                <img src="images/COMPUTADORES.png" width="150" height="130" alt="">

                <p> Computadores <br>
                </p>

            </div>
            

        </section>

    </main>
    </body>

    </html>