    <link rel="stylesheet" href="css/categorias.css">
    <title>Categorias</title>
    <%- include('../partials/header') %> 
    <main>
        <h1>Resultado</h1>
        <section class="categorias">

            <div class="card">
                <div class="card-image">
                    <img src="images/exemplo.jpg" alt="">
                </div>
                <div class="card-title">
                    <p>Fire TV Stick com Controle Remoto por Voz com Alexa</p>
                </div>
                <div class="card-price">
                    <strong>R$ 360,00 </strong> <s>R$550,00</s>
                </div>
                <div class="card-conditions">
                    <p>à vista ou em até 12x de R$ 31,62 sem juros </p>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="images/exemplo.jpg" alt="">
                </div>
                <div class="card-title">
                    <p>Fire TV Stick com Controle Remoto por Voz com Alexa</p>
                </div>
                <div class="card-price">
                    <strong>R$ 360,00 </strong> <s>R$550,00</s>
                </div>
                <div class="card-conditions">
                    <p>à vista ou em até 12x de R$ 31,62 sem juros </p>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="images/exemplo.jpg" alt="">
                </div>
                <div class="card-title">
                    <p>Fire TV Stick com Controle Remoto por Voz com Alexa</p>
                </div>
                <div class="card-price">
                    <strong>R$ 360,00 </strong> <s>R$550,00</s>
                </div>
                <div class="card-conditions">
                    <p>à vista ou em até 12x de R$ 31,62 sem juros </p>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="images/exemplo.jpg" alt="">
                </div>
                <div class="card-title">
                    <p>Fire TV Stick com Controle Remoto por Voz com Alexa</p>
                </div>
                <div class="card-price">
                    <strong>R$ 360,00 </strong> <s>R$550,00</s>
                </div>
                <div class="card-conditions">
                    <p>à vista ou em até 12x de R$ 31,62 sem juros </p>
                </div>
            </div>

        </section>

    </main>
</body>

</html>