<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="shortcut icon" href="images/logo-header.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/86e4e92605.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <main>
        <div class="container">
            <h1>Login</h1>
            <form action="#" method="post">
                <div class="wrapper">
                    <label for="user" placeholder="email">Email</i></label>
                    <input type="email" name="user" id="">
                </div>

                <div class="wrapper">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="">
                </div>

                <div class="button-wrapper">
                    <input class="submit-button" type="submit" value="Entrar">
                    <span><a href="#" target="_blank" rel="noopener noreferrer">Esqueceu sua senha ?</a></span>
                </div>

            </form>
            <button class="createAcount" id="createAcount">Criar sua conta <i class="fa-solid fa-plus"></i></button>
        </div>

    </main>
</body>

</html>