    <link rel="stylesheet" href="/css/produtos.css">
    <title>Produtos</title>
    <%- include('../partials/header') %>
    <main>
        <section id="produto" class="produto">
            <h1>Notebook Asus</h1>
            <div class="div-topo">
                <div class="galeria-prod">
                    <div class="galeria-agrupada">
                        <img src="images/notebook.jpg" alt="Notebook" alt="">
                        <img src="images/notebook.jpg" alt="Notebook" alt="">
                        <img src="images/notebook.jpg" alt="Notebook" alt="">
                    </div>
                    <img class="img-destaque" src="images/notebook.jpg" alt="Notebook" alt="">
                </div>

                <div class="produto-main">
                    <h2>Notebook Asus</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <div><span>R$ 1200,00</span></div>
                    <h3>Sobre este produto</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam similique aperiam, delectus
                        libero temporibus est ratione, earum mollitia vel minima consequatur, praesentium voluptates
                        nemo esse iste exercitationem hic dolore debitis!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto doloremque dolores modi enim est?
                        Atque quisquam ullam enim non, vel velit officia laboriosam voluptas, nihil perspiciatis
                        corrupti eveniet accusantium maxime?
                    </p>
                    <!-- produto em si entra aqui -->
                </div>

                <div class="inf-compra">
                    <h3>Informacoes para compra</h3>
                    <form action="" method="post">
                        <input type="search" placeholder="Digite seu CEP">
                    </form>
                    <button name="btn1">Adicionar ao carrinho</button>
                    <button name="btn2">Compre agora</button>
                </div>
        </section>

        </div>

        <section class="produtos-relacionados">
            <!-- exemplos -->
            <div>
                <h2>Produtos Relacionados</h2>
            </div>
            <div class="relacionados-img">
                <div class="card">
                    <img src="images/notebook.jpg" alt="Notebook">
                    <button id="#">Ver Mais</button>
                </div>
    
                <div class="card">
                    <img src="images/GAMER.png" alt="">
                    <button id="#">Ver Mais</button>
                </div>
    
                <div class="card">
                    <img src="images/CELULAR-SMARTPHONE_1645045581.png" alt="">
                    <button id="#">Ver Mais</button>
                </div>
            </div>
        </section>

        <section class="avaliacoes">
            <h2>Avaliações</h2>
            <!-- exemplos -->

            <div class="div-users">
                <span>user1</span>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, voluptatibus molestias sit
                    cupiditate quos animi incidunt quis doloribus laboriosam, dolor quaerat consequatur? Error sunt
                    ipsum, sint alias quae ut sapiente?</p>
            </div>

            <div class="div-users">
                <span>user2</span>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, voluptatibus molestias sit
                    cupiditate quos animi incidunt quis doloribus laboriosam, dolor quaerat consequatur? Error sunt
                    ipsum, sint alias quae ut sapiente?</p>
            </div>

            <div class="div-users">
                <span>user3</span>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, voluptatibus molestias sit
                    cupiditate quos animi incidunt quis doloribus laboriosam, dolor quaerat consequatur? Error sunt
                    ipsum, sint alias quae ut sapiente?</p>
            </div>
        </section>

        <section class="detalhes-tecnicos">
            <h2>Detalhes Tecnicos</h2>

            <div class="listas-caracteristicas">
                <ul>
                    <li>Caracteristicas 1</li>
                    <ul>
                        <li>tem isso</li>
                        <li>tem aquilo</li>
                        <li>tem aquele outro</li>
                    </ul>
                </ul>

                <ul>
                    <li>Caracteristicas 2</li>
                    <ul>
                        <li><tem isso</li>
                        <li>tem aquilo</li>
                        <li>tem aquele outro</li>
                    </ul>
                </ul>
            </div>
        </section>

    </main>
</body>

</html>