<link rel="stylesheet" href="/css/painelUsuario.css">

<title>Bem vindo, Usuário</title>
<%- include('../partials/headerLogado') %> 

<main>

  <h1>Acompanhe seu pedido</h1>
  <section class="codigo">
    <h2>Código do pedido</h2>
    <form action="" class="form_search">
      <input type="search" name="search" id="search" placeholder="Pesquisar">
      <button name="btn-1" id="btn">
          <i class="fa-solid fa-magnifying-glass"></i>
      </button>
  </section>
  <section class="forma-pgto">
    <h4>Produtos do pedido n. XXXXX</h4>
  <div class='container'>
    <div class="wrapper">
      <div class="produto-selecionado">
        <img src="images/notebook.jpg" alt="Notebook Asus">
      <div class="descricao-produto">
        <h2>Notebook Asus</h2>
        <p>Quantidade - YYYY</p>
      </div>
      </div>
      <div class="preco">
        <h2>R$754,00</h2>
      </div>
      <div class="status">
        <h2>Status:</h2>
        <p>Aguardando Estoque</p>
      </div>
    </div>
    <div class="wrapper">
      <div class="produto-selecionado">
        <img src="images/monitor.jpg" alt="Monitor muitas polegadas">
      <div class="descricao-produto">
        <h2>Monitor muitas polegadas</h2>
        <p>Quantidade - YYYY</p>
      </div>
      </div>
      <div class="preco">
        <h2>R$1.500,00</h2>
      </div>
      <div class="status">
        <h2>Status:</h2>
        <p>Enviado</p>
      </div>
    </div>
    <div class="subtotal">
      <p>Subtotal (2 itens): <b> R$ 2.254,00</b> </p>
    </div>
    </div>
  </div>
</section>
  <section class="historico">
    <h2>Histórico de Pedidos</h2>
    <div class="container">
      <div class="tabela">
      <table width="96%" cellspacing="10">
        <thead>
          <tr>
            <th class="col">Número</th>
            <th class="col">Data</th>
            <th class="col">Pagamento</th>
            <th class="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>748596</th>
            <td>10/11/2021</td>
            <td>Cartão de Crédito</td>
            <td>Entregue</td>
          </tr>
          <tr>
            <th>742968</th>
            <td>25/02/2022</td>
            <td>Boleto</td>
            <td>Cancelado</td>
          </tr>
          <tr>
            <th>743002</th>
            <td>04/05/2022</td>
            <td>Cartão de Crédito</td>
            <td>Entregue</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </section>
  <section class="favoritos">
    <h2>Favoritos</h2>
    <div class='container'>
      <div class="wrapper">
        <div class="favs">
          <img src="images/notebook.jpg" alt="Notebook Asus">
        <div class="produto-favorito">
          <h3>Notebook Asus</h3>
        </div>
        </div>
        <div class="data">
          <h3>04/05/2022</h3>
        </div>
        <div class="delete-fav">
          <h3>Excluir</h3><button><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </div>
  </section>
  <section class="produtos-relacionados">
    <div>
        <h2>Produtos Relacionados</h2>
    </div>
    <div class="relacionados-img">
        <div class="card">
            <img src="images/notebook.jpg" alt="Notebook">
            <button id="#">Ver Mais</button>
        </div>

        <div class="card">
            <img src="images/GAMER.png" alt="">
            <button id="#">Ver Mais</button>
        </div>

        <div class="card">
            <img src="images/CELULAR-SMARTPHONE_1645045581.png" alt="">
            <button id="#">Ver Mais</button>
        </div>
    </div>
</section>
</main>